<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="es.ulpgc.eite.alu.diceroller.android"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="23"/>

    <application android:allowBackup="true"
                 android:label="@string/app_name" android:icon="@drawable/app_rolldice_icon"
                 android:name=".mediator.DiceRollerMediatorSingleton">


        <activity android:name=".main_screen.view.DiceRollerView"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MASTER-DETAIL -->
        <activity android:name=".master.view.MasterView"/>
        <activity android:name=".detail.view.DetailView"/>


    </application>
</manifest>
